
#root{
  font-family: 'Roboto', sans-serif;
  height: 100px;
  width: 300px;
  display: table
}

.vertical-center {
  margin-left: 10px;
  vertical-align: middle;
}

.name-position{
  width: 150px;
}

.data {
  width: 220px;
}

#name{
  
  font-size: 18px;
  font-weight:bold;
  color: #58585a;
}

#position{
  font-size: 15px;
  font-weight:100;
  color: #939396;
}

#divider{
  margin-left: -10px;
  width: 1px;
  height: 70px;
  display: block;
  background-color: #21bdb8;
}

.fas, .fab{
  font-size: 15px;
  color: #21bdb8;
}

.phone, .email, .linkedin {
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  color: #939396;
}

#in-color{
  color: #21bdb8;
}